.hide {
  display: none;
}
.icon {
  color: rgb(207, 204, 200);
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;

  margin-bottom: 12px;
}

.newMessage {
  position: relative;
  justify-content: space-between;
  display: flex;
  gap: 8px;
  align-items: end;
  padding-bottom: var(--spacing);
}

.newMessage .input {
  width: 100%;
  flex-grow: 1;
  display: flex;
}
.newMessage button {
  margin-bottom: 0;
  width: fit-content;
  white-space: nowrap;
  height: 2.9em;
  line-height: 2.9em;
  padding-top: 0;
  padding-bottom: 0;
}

.prompts {
  background-color: #1d1f20;
  padding-left: 0;
  position: absolute;
  bottom: 100%;
  margin-bottom: 0;
  width: 100%;
  box-shadow: 0 0 5px #1d1f20;
}

.prompt {
  list-style: none;
  padding: 4px 8px;
  margin-bottom: 0;
}

.prompt.active,
.prompt:hover {
  background-color: #2e3234;
}

.textarea {
  max-height: 200px;
  overflow-y: auto;
  resize: none;
  margin-bottom: 0;
}
