.toastContainer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
  z-index: 999999;
}

.toastContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  animation: toastSlideIn 0.2s ease-out;
}

.toastMessage {
  font-size: 16px;
  padding: 5px 10px;
}

@keyframes toastSlideIn {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
