/* 整体 */

.chatHome {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

/* 侧边栏 */

.sidebar {
  width: 240px;
}
.session {
  cursor: pointer;
  text-decoration: none;
}
.session.active {
  background-color: #f0f0f0;
}

/* #region 消息 */
.chat {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.messages {
  overflow-y: auto;
  padding: 1rem;
  margin-bottom: 0;
}

.message {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
}

.message > * {
  width: 100%;
  overflow-x: auto;
}

.operations {
  display: flex;
  overflow-x: auto;
  gap: 8px;
  margin-bottom: 8px;
}

.operations button {
  width: fit-content;
  margin-bottom: 0;
  font-size: calc(1rem, 0.8);
  padding: 2px 4px;
}

.newMessage {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;
}

.newMessage .input {
  max-height: 200px;
  overflow-y: hidden;
  resize: none;
}
/* #endregion */
