.chat {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.messages {
  overflow-y: auto;
  padding: 1rem;
}

.message {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;
}

.footer .input {
  max-height: 200px;
  overflow-y: hidden;
  resize: none;
}
