/* 整体 */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chatHome {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #2e3234;
}
.header {
  display: none;
}
@media (max-width: 768px) {
  .chatHome {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .header {
    height: 42px;
    background-color: #2e3234;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 16px;
  }
  .header > button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 0;
    box-shadow: none;
    outline: none;
  }
  .header > button svg {
    width: 24px;
    height: 24px;
  }
}
/* 侧边栏 */

.sidebarBox {
  height: 100%;
}
.sidebar {
  width: 240px;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #1d1f20;
  padding: 8px;
}
.close {
  display: none;
}
@media (max-width: 768px) {
  .sidebarBox {
    position: fixed;
    transform: translateX(-100%);
    background: #474d4f;
    height: 100%;
    width: 100%;
  }
  .sidebarBox.show {
    transform: translateX(0);
  }
  .sidebar {
    position: relative;
    width: calc(100% - 64px);
    height: 100%;
    margin-left: 0;
  }
  .close {
    display: block;
    width: fit-content;
    position: absolute;
    top: 8px;
    right: -8px;
    transform: translateX(100%);
    background-color: transparent;
    border-width: 0;
    width: 40px;
    height: 40px;
    padding: 0;
  }
  .close:hover {
    border-width: 1px;
  }
  .close:active {
    border-width: 1px;
  }
  .close svg {
    width: 24px;
    height: 24px;
  }
}

.sessions {
  overflow-y: auto;
  padding-left: 0;
}
.sessions > li {
  margin-bottom: 0;
  margin: 8px 0;
}
a.session {
  cursor: pointer;
  color: rgb(207, 204, 200);
  padding: 8px;
  display: block;
  border-radius: 0.375rem;
  font-size: 14px;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 4px;
}
.session.create {
  border: solid 1px rgb(207, 204, 200, 0.1);
}
.session.active,
.session:hover {
  background-color: #2e3234;
}

/* #region 消息 */
.chat {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  overflow: hidden;
}

.messages {
  overflow-y: auto;
  padding: 1rem;
  margin-bottom: 0;
  padding: 0;
}

.messageBox {
  margin: 0 auto;
}
.message {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  padding: 1rem 1rem;
}
.messageContent > p:last-of-type {
  margin-bottom: 0;
}
.messageBox:nth-child(odd) {
  background-color: #2e3234;
}
.messageBox:nth-child(even) {
  background-color: #3a3e40;
}
.messageBox > * {
  width: 100%;
  overflow-x: auto;
}

.footer {
  padding: 0 1rem;
}

.operations {
  display: flex;
  overflow-x: auto;
  gap: 8px;
  margin-bottom: 8px;
}

.operations button {
  width: fit-content;
  margin-bottom: 0;
  font-size: calc(1rem, 0.8);
  padding: 2px 4px;
}

.newMessage {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;
  align-items: end;
}

.newMessage .input {
  max-height: 200px;
  overflow-y: hidden;
  resize: none;
}
/* #endregion */
